body {
    margin: 0;
    padding: 0;
}
div {
    height: 100vh;
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
div span {
    width: 10px;
    height: 60px;
    background-color: black;
    margin: 10px;
}
div span:nth-child(1) {
    animation-name: toRight;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
div span:nth-child(2) {
    animation-name: toRight;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
div span:nth-child(3) {
    animation-name: toRight;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes toRight {
    to {
        height: 30px;
    }
}